@charset "UTF-8";
.ma {
    background: red;
    height: 30px;
    color: yellow;
    h3 {
        background: red;
        color: yellow;
    }
    &-btn1 {
        background: yellow;
    }
    &-btn12{
        background: red;
        color:yellow;
        height:1100px;
    }
}